{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App name" %}{% endblock title %}
{% block header %}
	
{% endblock header %}
{% block content %}
<div class="jumbotron">
	<div class="row justify-content-center">
		<h1>AVC GROUP</h1>
		<hr>
		<div class="row">
			<div class="col-md-9">			
				<p>В 2013 году небольшой командой единомышленников, была основана Компания «AVC Group». Аббревиатура AVC произошла от фразы на латинском языке «Amat Victoria Curam», что в переводе означает «ПОБЕДА ЛЮБИТ СТАРАНИЕ». Данный слоган отражает историю развития Компании, в которой, благодаря добросовестному и ответственному подходу к своему делу и выстраиванию долгосрочных партнёрских отношений, а также приверженности к постоянному развитию и освоению новых технологий, сегодня переросла в Группу Компаний, в которой работают около 800 человек.</p> 
				<hr>
				<p>«AVC Group» специализируется на внедрении современных технологий для глубокой переработки и модернизации производственных мощностей, применении инновационных технологий и повышения качества нефтепродуктов, а также подборе оптимального технического решения по определению и учету валовых выбросов, соответствующих требованиям мировых стандартов.</p>
				<hr>
				<p>Компания занимает лидирующие позиции в предоставлении инженерных услуг и полного цикла реализации EPCS, а технологический потенциал обеспечивает доступ к Наилучшим Доступным Технологиям на рынке.</p>
				<hr>
				<p>В ходе осуществления проектов «AVC Group» ставит в приоритет жизни и здоровье работников и всех заинтересованных сторон, а также защиту окружающей среды по отношению к результатам операционной деятельности. Большинство объектов, на которых и, с которыми реализуются проекты, относятся к опасным производственным, поэтому соблюдение стандартов HSSE/HSE является одной из важнейших задач Компании.</p>
				<hr>
				<p>Цифровой прогресс позволил Компании не только усовершенствовать управление последовательностью работ EPCS, но и осуществить автоматизацию своих внутренних бизнес-процессов. Это естественным образом привело к улучшению контроля за сроками выполнения проекта и прозрачности управления процессами.</p>
				<hr>
				<p>Приверженность принципам ESG — это ключевые цели нашего времени, и «AVC Group» добивается их всех с той же решимостью, как и в осуществлении проектов, что позволяет строить современную, успешную, устойчивую ко всем изменениям Компанию.</p>
			</div>								
			<div class="col-md-3">
				<img src="{% static 'images/flag2.jpg' %}" alt="flag" style="width:100%; padding: 10px;">
			</div>
		</div>			
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6">
		<div class="div-width-100-text-center">
			<h3>Миссия компании</h3>
		</div>
		<hr>
		<img class="img-center" src="{% static 'images/about01.jpg' %}" alt="about01">
		<p>Представлять высококачественные и эффективные решения «под ключ», применяя лучшие мировые практики управления проектами, предвосхищая ожидания наших клиентов.</p>
	</div>
	<div class="col-md-6">
		<div class="div-width-100-text-center">
			<h3>Цель компании</h3>
		</div>
		<hr>
		<img class="img-center" src="{% static 'images/about02.jpg' %}" alt="about02">
		<p>В ближайшие 5 лет войти в десятку лучших EPCS компаний СНГ в области промышленного строительства и сервиса нефтеперерабатывающих заводов.</p>
	</div>
</div>
<hr>
<div class="div-width-100-text-center">
	<h3>Ценности компании</h3>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>ПРОФЕССИОНАЛИЗМ</h3>
		<hr>
		<img class="img-center" src="{% static 'images/about03.jpg' %}" alt="about03">
		<h4>Люди</h4>
		<p>Развивается сам и развивает других</p>
		<p>Активно поддерживает командный дух и сотрудничество между функциями</p>
		<p>Ищет, применяет и делится лучшими практиками</p>
		<p>Слушает и слышит других, способствует принятию взаимовыгодных решений</p>
		<p>Инициативен, принимает обоснованные решения</p>
	</div>
	<div class="col-md-4">
		<h3>ЭФФЕКТИВНОСТЬ</h3>
		<hr>
		<img class="img-center" src="{% static 'images/about04.jpg' %}" alt="about04">
		<h4>Процессы</h4>
		<p>Приветствует новое и стремится к эффективности во всех сферах</p>
		<p>Эффективно организует работу, планирует и распределяет ресурсы, оптимизирует процесс выполнения задач, предвидит последствия и учитывает риски</p>
		<p>Использует все возможности, поддерживает и внедряет изменения</p>
		<p>Понимает важность и необходимость процессов, активно занимается саморазвитием</p>
		<p>Берет на себя обязательства и принимает личную ответственность за результат</p>
	</div>
	<div class="col-md-4">
		<h3>КАЧЕСТВО</h3>
		<hr>
		<img class="img-center" src="{% static 'images/about05.jpg' %}" alt="about05">
		<h4>Клиенты и партнеры</h4>
		<p>Предвосхищает нужды внутренних и внешних клиентов и действует в соответствии с ними</p>
		<p>Понимает, как результаты его работы влияют на конечный результат, а также на результат внутренних и внешних клиентов</p>
		<p>Устанавливает атмосферу сотрудничества, основанную на совместных интересах и ориентированную на качество</p>
		<p>Обеспечивает высокое качество предоставляемых услуг и работ</p>
		<p>Прикладывает все усилия для построения партнерских отношений</p>
	</div>
</div>
<hr>
<div class="div-width-100-text-center">
	<h3>Фокус компании</h3>
</div>
<div class="row" style="background-image: url({% static 'images/about06.png' %}); background-position: center; background-repeat: no-repeat;height: 700px; ">
	<div class="row">
		<div class="col-md-6" style="backround-color: grey;opacity: 0.9; text-align: left; ">
			<h3>Стратегическое партнерство</h3>
			<div class="row">
				<div class="col-md-8">
					<p style="color: sandybrown">Предлагать клиентам услуги с более низкими затратами, более короткими сроками поставок и большей уверенности в результатах, используя ведущие в отрасли нефтепереработки технологии и опыт вместе с интегрированной моделью EPCS для самостоятельной работы, стратегическим партнерством и проверенным опытом реализации проектов.</p>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
		<div class="col-md-6" style="backround-color: grey;opacity: 0.9; text-align: right; ">
			<h3>Локализация производства</h3>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-8">
					<p style="color: sandybrown">Локализация производства комплектующих и расходных материалов для нефтегазовой индустрии. Производить вспомогательную продукцию для нефтеперерабатывающего сектора (водород, вода, пар, тепло и прочее) через инвестиции в строительство собственных промышленных установок.</p>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-6" style="backround-color: grey;opacity: 0.9; text-align: left; ">
			<h3>Развитие новых направлений</h3>
			<div class="row">
				<div class="col-md-8">
					<p style="color: sandybrown">Предоставлять процессинговым компаниям высококлассные аутсорсинговые услуги, путем сокращения затрат и освобождения от некоторых забот, что позволит повысить их эффективность, что в свою очередь даст большое развитие новых направлений этим компаниям.</p>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
		<div class="col-md-6" style="backround-color: grey;opacity: 0.9; text-align: right; ">
			<h3>Зеленые технологии</h3>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-8">
					<p style="color: sandybrown">Внедрять в производство «умные технологии» для рационального использования ресурсов, энергосбережения и энергоэффективности.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="div-width-100-text-center">
	<h3>ПРЕИМУЩЕСТВА</h3>
</div>
<div class="benefits" >
	<div class="row" style="margin-top: 100px;">
		<div class="col-md-4">	
			<p>Квалифицированный ИТР</p>
			<h2>150+ человек</h2>
		</div>
		<div class="col-md-4">	
			<p>Сервис +</p>
			<h2>EPCS</h2>
		</div>
		<div class="col-md-4">	
			<p>Опыт успешных проектов</p>
			<h2>более 1000</h2>
		</div>
	</div>
	<div class="row" style="margin-top: 100px;">
		<div class="col-md-4">
			<p>Мультиязычный</p>
			<h2>персонал</h2>
		</div>
		<div class="col-md-4">	
			<p>Эксклюзивное партнерство с</p>
			<h2>лицензиарами</h2>
		</div>
		<div class="col-md-4">	
			<p>Партнерство с мировыми проектными</p>
			<h2>институтами</h2>
		</div>
	</div>
	<div class="row" style="margin-top: 100px;">
		<div class="col-md-4">	
			<p>Присутствие на заводах,</p>
			<h2>оперативное реагирование</h2>
		</div>
		<div class="col-md-4">	
			<p></p>
			<h2></h2>
		</div>
		<div class="col-md-4">	
			<p>Бизнес процессы с</p>
			<h2>отлаженной автоматизацией</h2>
		</div>
	</div>
</div>
{% endblock content %}